.login_box {
  width: 300px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}

.login_form_box {
  width: 100%;
  border: 1px solid red;
}

.login_form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login_form input {
  padding: 12px 15px;
  margin: 8px 0px;
  border: 1px solid black;
  outline: none;
}

.login_form input:focus {
  border: 1px solid blue;
}

.login_btn {
  color: white;
  background-color: gray;
  padding: 8px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.login_btn:hover {
  background-color: aqua;
}
