.signup_box {
  width: 300px;
  border: 500px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
}

.signup_form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.signup_form input {
  width: 100%;
  padding: 8px 12px;
}
